<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>112928278028-gt61u8b5d1gv7fuj6apupo0iif5eueke.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.112928278028-gt61u8b5d1gv7fuj6apupo0iif5eueke</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>112928278028-o9n8hitrndm4vhk05ft1t6756hi9kgut.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBKqKtjhaPAFmF83PTYjG8dFVIr6eeLGZs</string>
	<key>GCM_SENDER_ID</key>
	<string>112928278028</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.quizapp</string>
	<key>PROJECT_ID</key>
	<string>quiz-app-af897</string>
	<key>STORAGE_BUCKET</key>
	<string>quiz-app-af897.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:112928278028:ios:9c1e5126986386817e1029</string>
</dict>
</plist>